* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

section {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    width: 100%;
    max-width: 600px;
    background-color: #F2F3F6;
    color: #767a7b;
    padding: 40px;
}

.form_head {
    padding-bottom: 35px;
    text-align: center;
}

.form_head h1 {
    margin: 0;
    font-size: 40px;
    position: relative;
    z-index: 1;
}

.form_head h1 span {
    background-color: #f2f3f6;
    padding: 0 20px;
}

.form_head h1:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #767a7b;
    left: 0;
    top: 50%;
    z-index: -1;
}

form input {
    width: 100%;
    display: block;
    height: 45px;
    padding: 0 15px;
    margin-bottom: 26px;
    border: 1px solid #767a7b;
    border-radius: 5px;
    font-size: 17px;
}

form input[type="checkbox"] {
    width: auto;
    display: inline-block;
    height: auto;
    margin-right: 15px;
}

label a {
    color: #54B55B;
}


.form_name {
    display: flex;
    justify-content: space-between;
}

.form_name input {
    width: 47%;
}

form button {
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    background-color: #54B55B;
    border: unset;
    border-radius: 5px;
    padding: 14px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.8px;
    transition: all 0.3s;
}

form button:hover {
    transition: all 0.3s;
    background-color: #2b7f33;
}